#map {
    height: calc(100vh - 120px);
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #dee2e6;
}

.legend-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
    vertical-align: middle;
}
